* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, video {
  max-height: 300px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh !important;
}

body.swal2-height-auto {
  height: 100vh !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
}

.chatbox {
  width: 400px;
  height: 600px;
  box-shadow: 0 0 5px #000;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 9fr 1fr;
  overflow: hidden;
}
.chatbox #chat {
  background: #bbb;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chatbox #chat .mensaje {
  background: #5c5c5c;
  box-shadow: 0 0 5px #5c5c5c;
  padding: 10px;
  border-radius: 10px;
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  max-width: 100%;
  overflow-wrap: anywhere;
  color: white;
}
.chatbox #chat .mensaje.mensajePropio {
  background: #087886;
  box-shadow: 0 0 5px #087886;
  align-self: end;
}
.chatbox .chatMessage {
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 8fr 1.5fr;
}
.chatbox .chatMessage .Alert {
  position: absolute;
  height: 100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.315);
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 20px;
}
.chatbox .chatMessage .Alert img, .chatbox .chatMessage .Alert video {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.chatbox .chatMessage .Alert.hidden {
  display: none;
}
.chatbox .chatMessage .Alert #buttonCancelImg {
  position: absolute;
  bottom: 10px;
  top: 10px;
  right: 10px;
  width: 32px;
  border: none;
  outline: none;
  font-size: 20px;
  background: rgba(255, 0, 0, 0.322);
  padding: 5px;
}
.chatbox .chatMessage .Alert #buttonCancelImg:hover {
  background: rgba(255, 0, 0, 0.5);
}
.chatbox .chatMessage #chatInput {
  border: none;
  outline: none;
  padding-left: 5px;
  font-size: 20px;
}
.chatbox .chatMessage #chatInput:hover {
  background: rgb(216, 216, 216);
}
.chatbox .chatMessage #chatSend {
  border: none;
  outline: none;
  border-left: 2px solid black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatbox .chatMessage #chatSend:hover {
  background: rgb(31, 191, 219);
}
.chatbox .chatMessage #chatSend img {
  height: 32px;
}
.chatbox .chatMessage #img {
  position: relative;
  background: red;
  border-right: 2px solid black;
}
.chatbox .chatMessage #img::before {
  content: "";
  z-index: 1;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 500px) {
  .chatbox {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=styles.css.map */